body {
  background-color: black;
}

button {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  background-color: tomato;
  color: white;
  border: 5px solid orange;
  border-radius: 12px;
}

img {
  display: block;
  margin: auto;
  margin-top: 20px;
}
